.contenedor {
    padding: 0 20px;
    background-color: #e4e4e4;
    font-size: 18px;
    font-family: sans-serif;
    color: #333;
}

section {
    margin-bottom: 20px;
}




.zigzag {
    display: flex;
}
.zigzag_drch {
    /*flex-direction: row-reverse;*/
}

.galeria {
    width: 90vw;
}

.newsletter {
    display: flex;
}

.multi {
    display: flex;
}