.contenedor {
    padding: 0 20px;
    background-color: #cecdcd;
    font-size: 18px;
    font-family: sans-serif;
}

.zigzag {
    display: flex;
}
.zigzag_drch {
    /*flex-direction: row-reverse;*/
}

.galeria {
    width: 90vw;
}

.newsletter {
    display: flex;
}

.multi {
    display: flex;
}